:root{
  --background_main:#647c75;
  --card_background: #7b92b4; 
  --text_color:#0d1118;
  --button_color:#af6500;
}

.feedFont{
  font-family: 'Share Tech Mono', monospace;
}

.button{
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 3px;
  cursor: pointer;
  background: var(--button_color)
}

.main{
  height: 100vh;
  width: 100vw;
  background: var(--background_main);
  position: relative;
  overflow-y: auto;
  text-align: left;
}

.submitPostContainer{
  margin-left: 20vw;
  width: 40vw;
  padding-bottom: 10px;
  text-align: right;
}

.card{
  background: var(--card_background);
  color: var(--text_color);
  margin-left: 20vw;
  width: calc(55vw - 10px);
  padding: 5px;
  border-radius: 5px;
}

.cardComment{
  background: var(--card_background);
  color: var(--text_color);
  margin-left: 25vw;
  width: calc(50vw - 10px);
  padding: 5px;
  border-radius: 5px;
}

.navCard{
  background: var(--card_background);
  color: var(--text_color);
  margin-left: 10vw;
  margin-bottom: 5px;
  width: calc(80vw - 10px);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.faq{
  margin-left: 20vw;
  width: 50vw;
}

.feedPage{
  margin-left: 20vw;
  width: 50vw;
}

.nav{
  position: absolute;
  top: 5vh;
  right: 1vw;
  width: 20vw;
  text-align: right;
  padding: 5px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

html, body{
  margin: 0;
  padding: 0;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}