:root{
  --background_main:#647c75;
  --card_background: #7b92b4; 
  --text_color:#0d1118;
  --button_color:#af6500;
}

a{
  color: #e68b04;
}

textarea{
  resize: none;
  white-space: pre-line;
}

.feedFont{
  font-family: 'Share Tech Mono', monospace;
}

.titleFont{
  font-family: 'Shrikhand', cursive;
  background: linear-gradient(to right, rgb(235, 167, 21) 0%, #e68b04 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button{
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 3px;
  cursor: pointer;
  background: var(--button_color)
}

.main{
  height: 100vh;
  width: 100vw;
  background: var(--background_main);
  position: relative;
  overflow-y: auto;
  text-align: left;
}

.middleView{
  margin-left: 19vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 57vw;
  min-height: 96vh;
  left: 20vw;
  background-image: url(/static/pattern.png);
  background-repeat: repeat; 
}

.submitPostContainer{
  margin-bottom: 10px;
  padding: 10px;
  text-align: right;
  background: var(--card_background);
  width: calc(53vw - 10px);
  margin-left: calc(1vw - 5px);
}

.card{
  background: var(--card_background);
  color: var(--text_color);
  /* width: calc(55vw - 10px); */
  padding: 5px;
  /* margin-left: 1vw; */
  width: 53vw;
  margin-left: calc(1vw - 5px);
  border-radius: 5px;
}

.cardComment{
  background: var(--card_background);
  color: var(--text_color);
  margin-left: 5vw;
  width: 50vw;
  padding: 5px;
  margin-left: calc(3vw + 10px);
  border-radius: 5px;
}

.navCard{
  background: var(--card_background);
  color: var(--text_color);
  margin-bottom: 5px;
  /* width: calc(55vw - 10px); */
  width: 53vw;
  margin-left: calc(1vw - 5px);
  padding: 5px;
  border-radius: 5px;
  /* margin-left: 1vw; */
  text-align: center;
}


.feedPage{
  /* margin-left: calc(1vw - 5px); */
  width: 53vw;
  margin-left: calc(1vw - 5px);
  background: var(--card_background);
  padding: 5px;
}

.feed{
  width: 55vw;
  background: black;
  color: white;
  font-size: 30pt;
  overflow: hidden;
}


.faq{
  width: 53vw;
  margin-left: calc(1vw - 5px);
  background: var(--card_background);
  padding: 5px;
}

.admin{
  width: 53vw;
  margin-left: calc(1vw - 5px);
  background: var(--card_background);
  padding: 5px;
}

.blogHeader{
  width: 53vw;
  margin-left: calc(1vw - 5px);
  background: rgb(111, 153, 123);
  padding: 5px;
}

.blogTitleBar{
  background: rgb(111, 153, 123);
  padding: 5px;
  margin-left: 10px;
  width: calc(100% - 30px);
  margin-top: 10px;
}

.blogBodyItem{
  background: rgb(111, 153, 123);
  padding: 5px;
  margin-top: 1vh;
  width: calc(90% - 10px);
  margin-left: 5%;
}

.gridContainer {
  display: grid;
  grid-gap: 0px;
  overflow: hidden;
  overflow-y: auto;
  grid-template-areas:
         "leftContainer mainView rightContainer";
  grid-template-columns: 20vw  55vw  25vw;
  grid-template-rows: auto;
  background-color: var(--background_main)
}

.leftContainer{
  margin-top: 2.5vh;
  grid-area: leftContainer;
}

.mainView{
  grid-area: mainView;
  background-image: url(/static/pattern.png);
  background-repeat: repeat; 
  min-height: 100vh;
  height: 100%;
  display: block;
  /* overflow: visible; */
  /* overflow: hidden;
  overflow-y: auto; */
}

.rightContainer{
  grid-area: rightContainer;
  /* margin-top: 2.5vh */
}

.rightItemContainer{
  position: absolute;
  /* top: 2.5vh; */
  /* right: 1vw; */
  right: 0vw;
  width: 24vw;
  /* background: purple; */
}

.leftItemContainer{
  position: absolute;
  top: 2.5vh;
  left: 0vw;
  width: 20vw;
  /* background: orange; */
}

.mapBoard{
  background: linear-gradient(
    rgba(47, 29, 10, 0.4), 
    rgba(47, 29, 10, 0.5)
  ),url(/static/cork.jpg);
  background-repeat: repeat; 
}

.nav{
  display: block;
  width: calc(22vw - 20px);
  /* max-height: 30vh; */
  margin-left: calc(1vw + 10px);
  margin-right: calc(1vw - 10px);
  text-align: right;
  /* padding: 5px; */
  border-width: 5px;
  border-color: #71481b;
  border-style: solid;
  margin-bottom: 20px;
  position: relative;
  background: #71481b;
}

.chat{
  width: calc(22vw - 30px);
  margin-left: calc(1vw + 10px);
  margin-right: calc(1vw - 10px);
  height: 50vh;
  /* max-height: 65vh; */
  text-align: right;
  padding: 5px;
  border-width: 5px;
  border-color: #71481b;
  border-style: solid;
  position: relative;
  background: #71481b;
}


html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* overflow: hidden; */
  /* overflow-anchor: none; */
}

/* .mainBoßdy{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
} */

.example-enter {
  opacity: 0.01;
}

.allWhoCome{
  font-family: 'Germania One', cursive;
  /* rgb(70, 118, 85) */
  /* rgb(232, 149, 10) */
  background: linear-gradient(to right, rgb(235, 167, 21) 0%, #e68b04 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.flexContainerColumn{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: center;
  -webkit-align-content: center; 
  justify-content: center; 
  align-items: stretch;
}

.flexContainerRow{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  -webkit-align-content: center; 
  justify-content: center; 
  align-items: stretch;
}

