:root{
  --background_main:#647c75;
  --card_background: #7b92b4; 
  --text_color:#0d1118;
  --button_color:#af6500;
}

.button{
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  background: var(--button_color)
}

.main{
  height: 100vh;
  width: 100vw;
  background: var(--background_main);
  position: relative;
  overflow-y: auto;
  text-align: left;
}

.submitPostContainer{
  margin-left: 20vw;
  width: 40vw;
  padding-bottom: 10px;
  text-align: right;
}

.card{
  background: var(--card_background);
  color: var(--text_color);
  margin-left: 20vw;
  width: calc(55vw - 10px);
  padding: 5px;
  border-radius: 5px;
}

.faq{
  margin-left: 20vw;
  width: 50vw;
}

.nav{
  position: absolute;
  top: 5vh;
  right: 1vw;
  width: 20vw;
  text-align: right;
  padding: 5px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

html, body{
  margin: 0;
  padding: 0;
}